.cproject
.DS_Store
.project
.settings/
*~

# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Executables
*.exe
*.out
*.app

#Erlang
.eunit
deps
*.o
*.beam
*.plt
erl_crash.dump
.concrete/DEV_MODE
.rebar
